:root {
    --color-light-xl: #fff;
    --color-light-l: #f6f6f6;
    --color-light-s: #fafafa;
    --color-dark-s: #cdcdcd;
    --color-dark-m: #b2b2b2;
    --color-dark-l: #545454;
    --color-dark-xl: #4c4c4c;
    --color-dark-2xl: #444;
    --color-dark-3xl: #292929;
    --color-primary: #f1cdb3;
    --color-primary-light: #fddcc4;
    --start-screen-gradient-background: #211f20;
    --footer-gradient-background: #211f20;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}


img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    font-family: var(--font-family)
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    height: 100vb;
    background: url(../img/bg/noise_transparent.png), url(../img/bg/start-screen-gradient-background.png);
}

.hero__container {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.header {
    margin-top: 30px;
    flex: content;
}